body {
    /*background-image: url("https://images.alphacoders.com/925/thumb-1920-925465.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;*/
    background-color: #191919;
}



.nav-custom {
    background-color: #191919;
}

.nav-custom .navbar-brand, 
.nav-custom .navbar-text {
    font-family: 'Bebas Neue', cursive;
    color: white; 
    font-size: xx-large;
} 
.nav-custom .navbar-nav .nav-link{
    font-family: 'Bebas Neue', cursive;
    font-size: large;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.container {
    background-color: #ffffff;
}