body {
    background-image: url("../../assets/images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    font-family: 'Bebas Neue', cursive;
}

footer {
    background-color: white;
    margin-top: 40px;
    padding-top: 20px;
}

/* change the color of the navbar */
.nav-custom {
    background-color: #141414;
}

/* change navbar brand text size and colour */
.nav-custom .navbar-brand, 
.nav-custom .navbar-text {
    color: white; 
    font-size: xx-large;
} 

/* change navbar text/link size */
.nav-custom .navbar-nav .nav-link{
    font-size: large;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.title-text-small {
    font-size: x-large;
}

.banner-text {
    font-size: 100px;
    color: white;
    margin-top:40px;
}

.banner-text-large {
    font-size: 210px;
    color: white;
    text-align: center;
    margin-top:40px;
}

.aboutme-container {
    background-color: #ffffff;
    padding: 20px;
}

.aboutme-container img {
    max-height:300px;
}

.aboutme-container h1 {
    padding-left: 20px;
}

.social-container {
    text-align: center;
    margin-top: 48px;
    filter: invert(1);
}

/* hover effect for social links*/
.social-container:hover {
    opacity: 75%;
}

.portfolio-container, 
.portfolio-column {
    padding: 20px;
}

.portfolio-container h1 {
    padding-left: 20px;
    color: white;
}

.portfolio-column {
    padding: 20px;
}

/* hover effect for portfolio images */
.portfolio-column:hover {
    opacity: 75%;
}

.contact-form {
    background-color: white;
    padding: 20px;
    margin-top: 40px;
}

.form-control {
    font-family: arial;
}

@media screen and (max-width: 991px) {
    /*Reduces size of font on banner text*/
    .banner-text-large {
    font-size: 150px;
    }
}

@media screen and (max-width: 767px) {
    /*Aligns banner text to left for better look on mobile devices*/
    .banner-text-large {
    text-align: left;
    margin-top: 0;
    }
    .aboutme-container p {
        font-size: x-large;
    }
}

@media screen and (max-width: 575px) {
    /*Aligns top of contact form with navbar for better look on mobile devices*/
    .contact-form {
        margin-top: 0;
    }
    .banner-text {
        font-size: 20vw;
    }
    .banner-text-large {
        font-size: 35vw;
    }
}